/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 50px auto;
  max-width: 336px;
}

#buttonAdd {
  background-image: url("./assets/photo/Group 41.svg");
  background-size: 150px;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 200px;
  border: 0px;
  height: 42px;
  margin: 10px;
  width: 150px;
}

#buttonAdd:hover {
  background-image: url("./assets/photo/Group 85.svg");
  cursor: pointer;
}

#todo-text {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

#todo-list {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  align-items: center;
}

#top {
  width: 100%;
  height: 28px;
  background-color: orange;
}

#allList {
  margin: 0;
}

.allList {
  border: 1px solid gray;
  border-radius: 10px;
  width: 286px;
  max-height: 230px;
  overflow-y: scroll;
}

.allList::-webkit-scrollbar {
  width: 0;
}

.addNewTask {
  margin: 5px 10px;
  font-size: 20px;
  display: flex;
  border: 0;
}

#add-task {
  width: 286px;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 20px;
  padding-right: 40px;
}

.deletTask {
  border: 0px;
  height: 20px;
  width: 20px;
  margin-top: 5px;
  background-color: white;
  background-image: url("./assets/photo/Group 77.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.deletTask:hover {
  background-image: url("./assets/photo/Group 70.png");
}

#todo-text {
  font-size: 30px;
}

.button-sort {
  position: relative;
  left: 125px;
  border: 0;
  background-color: white;
  margin: 5px;
  background-image: url("./assets/photo/Group 73.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 25px;
  opacity: 0.3;
  cursor: pointer;
}

.sort-reverse {
  background-image: url("./assets/photo/Group 91.png");
}

.button-sort:hover {
  opacity: 1;
}

.input-task {
  border: 0;
  max-width: 214px;
  outline: none;
  cursor: unset;
}

.input-task:hover {
  cursor: unset;
}

#clearInputValue {
  position: absolute;
  right: 11px;
  top: 86px;
  background-image: url("./assets/photo/Group 77.png");
  background-repeat: no-repeat;
  border: 0;
  background-color: white;
  height: 20px;
  width: 20px;
}

#clearInputValue:hover {
  background-image: url("./assets/photo/Group 70.png");
  cursor: pointer;
}

#button-text {
  margin-left: 25px;
  color: white;
  font-size: 15px;
}

.edit-button {
  background-image: url("./assets/photo/icons8-шариковая-ручка-64.png");
  background-color: white;
  background-repeat: no-repeat;
  width: 30px;
  border: 0;
  background-size: 20px;
  margin-top: 4px;
  cursor: pointer;
  opacity: 0.5;
}

.edit-button:hover {
  opacity: 1;
}

.finish-edit {
  background-image: url("./assets/photo/54346.png");
}

.dragging {
  opacity: 0.5;
  font-style: italic;
  font-size: 15px;
}